#intro {
    background-color: silver;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    border-right-color: silver;
    border-left-color: silver;
    border-bottom-color: silver;
    border-top-color: silver;
}

div #info {
    font-family: "Trebuchet MS";
    color: navy;
    background-color: darkgrey;
    text-align: left;
    font-style: normal;
    margin-bottom: 0%;
    margin-top: 0%;
    width: 270px;
    filter: alpha(opacity=60);
}

div #logout {
    font-family: "Trebuchet MS";
    width: 100px;
    height: 20px;
    padding: 5px;
    position: absolute;
    top: 3px;
    right: 5px;
    text-align: right;
}

div .titolo {
    background-color: lightgoldenrodyellow;
    height: 40px;
    border-collapse: separate;
    border-color: cornflowerblue;
    font-size: large;
    font-family: inherit;
}

div #mini_message{
    font-family: "Trebuchet MS";
    color: navy;
    background-color: beige;
    width: 250px;
    height: 60px;
    margin-left: 40%;
}

div #notice {
    font-family: "Trebuchet MS";
    color: lightseagreen;
    background-color: blanchedalmond;
}

div h3{
    font-family: "Trebuchet MS";
}

div h2{
    font-family: "Trebuchet MS";
}

div #menu ul {
    font-family: "Trebuchet MS";
    margin: 0px;
    display: ruby;
    padding: 1px;
    border-bottom:5px solid darkgray;
}

div #menu li {
    font-family: "Trebuchet MS";
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
    padding: 5px;
    background-color: silver;
    border-left: 1px solid #1c345a;
    text-align:center;
}

div #menu li a:link, div #menu li a:visited {
    color: #ffffff;
    text-decoration: none;
}

div #menu li a:hover {
    color: #ffffff;
    font-weight: bold;
}

div #message {
    font-family: "Trebuchet MS";
    color: darkblue;
    background-color: gainsboro;
    padding: 0px 0 3px 0;
    text-align: center;
    line-height: normal;
    text-align: center;
    height: 30px;
    margin-bottom: 0%;
    margin-top: 2%;
}
div #logo{
    background-image: url('../immagini/logo100m_book.jpg');
    font-family: "Trebuchet MS";
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: 30px;
    padding-left: 10px;
    height: 100px;
}
div #logo h1 {
    font-family: "Trebuchet MS";
    height: 17px;
    vertical-align: middle;
    color: burlywood;
    padding-top: 35px;
    margin-left: 40px;
    padding-left: 100px;

}
div #logo p {
    margin-left: 30px;
    padding-left: 120px;
}
div #header {
    background-color: steelblue;
}

body {
    background-image: url('../immagini/background.jpg');  
    background-size: cover;
}

div .footer_html{
    background: url('../immagini/html.png') no-repeat left center;
    background-size: 40%;

}

div .footer_css{
    background: url('../immagini/css.png') no-repeat left center;
    background-size: 40%;

}

div .button_ok{
    font-family: "Trebuchet MS";
    height: 30px;
    vertical-align: middle;

}

div .button_norm{
    font-family: "Trebuchet MS";
    height: 50px;
    width: 60px;
    vertical-align: middle;

}
div .mini_button{
    font-family: "Trebuchet MS";
    height: 30px;
    width: 45px;
    vertical-align: middle;
}
div #box{
    margin-left: 50px;
    text-align: center;
    height: 40px;
    width: 80px;
}

div #sale{
    background: gold;
}

div .submit{
    font-family: "Trebuchet MS";
    padding-top: 20px;
}
div #content {
    font-family: "Trebuchet MS";
    background: azure;
    text-align: center;
}

div #side-bar1{
    font-family: "Trebuchet MS";
}

table{
    font-family: "Trebuchet MS";
    border: 1px solid crimson;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 15px;
    margin-top: 5%;
}

div #form{

    background-color: activecaption;
    margin-left: 37%;
    height: 150px;
    width: 300px;
}

div #form_payment_left{
    background-color: khaki;
    height: 150px;
    width: 270px;
    position: absolute;
    margin-top: 7%;
    margin-left: 5%;
}

div #form_payment_center{
    background-color: khaki;
    height: 150px;
    width: 270px;
    position: absolute;
    margin-top: 7%;
    margin-left: 34%;
}

div #form_payment_right{
    background-color: khaki;
    height: 150px;
    width: 270px;
    position: absolute;
    margin-top: 7%;
    margin-left: 63%;
}

div #mini_form_left{
    background-color: khaki;
    height: 150px;
    width: 300px;
    position: absolute;
    margin-top: 3%;
    margin-left: 3%;
}

div #mini_form_center{
    background-color: khaki;
    height: 150px;
    width: 300px;
    position: absolute;
    margin-top: 3%;
    margin-left: 32%;
}

div #mini_form_right{
    background-color: khaki;
    margin-left: 55%;
    height: 150px;
    width: 350px;
    position: absolute;
    margin-top: 3%;
    margin-left: 61%;
}

#footer {
    font-family: "Trebuchet MS";
    height: 50px;
    text-align: center;
    line-height: normal;
    background-color: cornsilk;
    opacity: 0.8;
    margin-bottom: 0%;
    margin-top: 37%;
}